<%= simple_form_for @note do |f|%>
<form role="form">
  <div class="form-group">
     <%= f.label :title %>
     <%= f.input_field :title, class:"form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
     <%=f.input_field :content, as: :text, input_html: {rows: 10, cols: 38}, class:"form-control"  %>
  </div>
     <%=f.button :submit %>
</form>
<% end %>
