$("#newModal").modal("hide");
$("#noteTitle").val("");
$("#noteContent").val("");
$("#notes").prepend("<h2><div id= <%= @note.id %>><%= j link_to @note.title, @note %></div></h2> <%= time_ago_in_words(@note.created_at)%>").addClass( "floating-box" )
$("#<%= @note.id %>").addClass( "animated shake" );
