<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1> Edit Your Note </h1>

      <%= render 'form' %>

      <%= link_to "Cancel", note_path %>
    </div>
  </div>
</div>
