<div class="container">
<style>
  i {
    vertical-align: middle;
  }

/*.floating-box {
    float: left;
    height: 75px;
    margin: 25px;
    /*border: 3px solid #73AD21;*/
}*/


</style>
<br/>
<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-md">Add Note</button>

<div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="newModal">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <h4 class="modal-title" id="myModalLabel">New Note</h4>
     </div>
     <div class="container">
      <div class="row">
          <div class="col-md-6">
            <%= simple_form_for @note, remote: true do |f|%>
            <form role="form">
              <div class="form-group">
                 <%= f.label :title %>
                 <%= f.input_field :title, class:"form-control", id:"noteTitle"  %>
              </div>
              <div class="form-group">
                <%= f.label :content %>
                 <%=f.input_field :content, as: :text, input_html: {rows: 10, cols: 38}, class:"form-control", id:"noteContent"  %>
              </div>
                 <%=f.button :submit %>
            </form>
            <% end %>
            <br/>
             </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div id="notes">
  <%@notes.each do |note|%>
  <div id="<%=note.id%>" class="floating-box">
    <h2><%= link_to note.title, note%></h2>
    <%= time_ago_in_words(note.created_at)%>
  </div>
  <% end %>
</div>



</div>
