<div class="container">
  <div class="row">
    <div class="col-md-6">
<h1> <%= @note.title %></h1>
<p>
  <%= simple_format(@note.content) %>
</p>

<%= link_to '<i class="material-icons">home</i>'.html_safe, notes_path %>
<%= link_to '<i class="material-icons">mode_edit</i>'.html_safe,  edit_note_path(@note) %>
<%= link_to '<i class="material-icons">delete</i>'.html_safe, note_path(@note), method: :delete, data:{ confirm: "Are you sure?"}  %>
    </div>
  </div>
</div>

<script type="text/javascript">
$("[data-behavior='delete']").on("click", function(e){
  e.preventDefault()

  swal {
      title: 'Are you sure?'
      text: 'You will not be able to recover this imaginary file!'
      type: 'warning'
      showCancelButton: true
      confirmButtonColor: '#DD6B55'
      confirmButtonText: 'Yes, delete it!'
      cancelButtonText: 'No, cancel plx!'
      closeOnConfirm: false
      closeOnCancel: false
    }
});
</script>
