<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <form role="form">
          <div class="form-group">
            <%= f.label :email %>
            <%= f.input_field :email, class:"form-control", required: true, autofocus: true %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.input_field :password, class:"form-control", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.input_field :password_confirmation, class:"form-control", required: true %>
          </div>


        <div class="form-actions">
          <%= f.button :submit, "Sign up", class:"btn btn-default" %>
        </div>
        </form>
      <% end %>
      </div>
    </div>
</div>
