<!-- Footer -->
<div class="navbar-fixed-bottom">
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Juan Huttemann - 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
