<!-- Navigation -->
<style media="screen">
  .navbar {
    margin-bottom: 0px;
    border-radius: 0px;
  }
</style>
<nav id="mainNav" class="navbar navbar-default navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <%= link_to "U-Note", root_path, class:"navbar-brand"%>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <% if user_signed_in?%>
                <li class="page-scroll"><%= link_to('Log out', destroy_user_session_path, :method => :delete) %></li>
                <% else %>
                <li class="page-scroll">
                  <%= link_to "Register", new_user_registration_path%>
                </li>
                <li class="page-scroll">
                    <%= link_to "Log In", new_user_session_path%>
                </li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
