<style media="screen">
  a {
    color:#333;
  }

  a:hover {
    color:#18BC9C;
    text-decoration:none;
  }

  header {
    background-color: #fff;
  }

  header .container {
    padding-top: 100px;
    /*padding-bottom: 200px;*/
  }


  @media (max-width: 480px) {
    header .container {
      /*padding-top: 100px;*/
      /*padding-bottom: 300px;*/
    }
  }

  @media (max-width: 768px) {
    header .container {
      /*padding-top: 100px;*/
      /*padding-bottom: 300px;*/
    }
  }


</style>

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="/notepad.png" alt="">
                <div class="intro-text">

                    <a href="/users/sign_in"><span class="name">Start Now</span></a>
                </div>
            </div>
        </div>
    </div>
</header>
