<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Log in</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <form role="form">
            <div class="form-group">
              <%= f.label :email %>
              <%= f.input_field :email, class:"form-control", required: false, autofocus: true %>
            </div>
            <div class="form-group">
              <%= f.label :password %>
              <%= f.input_field :password, class:"form-control", required: false %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Log in", class:"btn btn-default"  %>
            </div>
        </form>
      <% end %>
    </div>
  </div>
</div>
